<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
  <head>
    <title th:text="#{LoginPage.title}">COMBAT-SARS-COV-2 Explorer</title>
    <script th:inline="javascript">
        window.TL = {
            _BASE_URL: /*[[@{/}]]*/ "/",
            emailConfigured: /*[[${emailConfigured}]]*/ false
        };
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <webpacker:css entry="login" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      body {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #login-root {
        max-width: 400px;
        padding: 10px;
      }
      .with-margin {
         margin-bottom: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="login-root">
                    <!-- Contents rendered from LoginPage.jsx -->
                </div>                            
            </div>
            <div class="col-sm">
                <h1 class="h1"><img th:src="@{/static/logos/combat_tb_logo_small.png}"> COMBAT SARS-COV-2 Workbench</h1>
                <p>The COMBAT-SARS-COV-2 Workbench provides easy to use tools for analysing <em>SARS-COV-2</em> genomic
                    sequence samples.</p>
                <p>It was developed at part of the <a href="https://combattb.org">COMBAT-SARS-COV-2 project</a>, an Africa CDC funded
                    project undertaken by researchers and software developers at <a href="https://www.sanbi.ac.za">SANBI</a>. The COMBAT-SARS-COV-2
                    Workbench is developed using technology from the <a href="https://irida.ca">IRIDA</a> and 
                    <a href="https://galaxyproject.org">Galaxy</a> projects and incorporates leading tools developed for <em>SARS-COV-2</em>
                    and microbial bioinformatics.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between with-margin">
            <div class="col">
                <img class="d-block m-auto" th:src="@{/static/logos/SANBI_logo_small.png}" alt="SANBI logo">
            </div>
            <div class="col">
                <img class="d-block m-auto" th:src="@{/static/logos/Africa_CDC_logo_small.png}" alt="Africa CDC logo">
            </div>
            <div class="col">
                <img class="d-block m-auto" th:src="@{/static/logos/UWC_logo_small.png}" alt="UWC logo">
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col">
                <img th:src="@{/static/logos/SAMRCnewLogo.png}" alt="SA MRC logo">            
            </div>
            <div class="col">
                <img th:src="@{/static/logos/dsi_logo_small.png}" alt="SA Department of Science and Innovation logo">
            </div>
            <div class="col">
                <img th:src="@{/static/logos/NRF_logo_small.png}" alt="NRF logo">                        
            </div>
        </div>    
    </div>
    <!-- note: bootstrap-supporting javascript is not included as only a subset of bootstrap components are used -->
    <webpacker:js entry="login" />
  </body>
</html>
