[submodule "galaxy/roles/galaxyproject.galaxyextras"]
	path = galaxy/roles/galaxyprojectdotorg.galaxyextras
	url = https://github.com/galaxyproject/ansible-galaxy-extras
[submodule "galaxy/roles/galaxy-postgresql"]
	path = galaxy/roles/galaxy-postgresql
	url = https://github.com/galaxyproject/ansible-postgresql
