[submodule "galaxy/roles/galaxyproject.galaxyextras"]
	path = galaxy/roles/galaxyprojectdotorg.galaxyextras
	url = https://github.com/galaxyproject/ansible-galaxy-extras
[submodule "galaxy/roles/galaxyprojectdotorg.galaxytools"]
	path = galaxy/roles/galaxyprojectdotorg.galaxytools
	url = https://github.com/galaxyproject/ansible-galaxy-tools
