kind: PersistentVolume
apiVersion: v1
metadata:
  name: galaxy-root
spec:
  storageClassName: standard
  capacity:
    storage: {{ KIND_PV_STORAGE_SIZE | default(100) }}Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: {{ HOST_EXPORT_DIR }}/galaxy
---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: galaxy-database
spec:
  storageClassName: standard
  capacity:
    storage: {{ KIND_PV_STORAGE_SIZE | default(100) }}Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: {{ HOST_EXPORT_DIR }}/galaxy/database
---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: galaxy-tool-deps
spec:
  storageClassName: standard
  capacity:
    storage: {{ KIND_PV_STORAGE_SIZE | default(100) }}Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: {{ HOST_EXPORT_DIR }}/tool_deps
