kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: galaxy-root
spec:
  storageClassName: standard
  accessModes:
    - ReadWriteMany
  volumeName: galaxy-root
  resources:
    requests:
      storage: {{ KIND_PV_STORAGE_SIZE | default(100) }}Gi
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: galaxy-database
spec:
  storageClassName: standard
  accessModes:
    - ReadWriteMany
  volumeName: galaxy-database
  resources:
    requests:
      storage: {{ KIND_PV_STORAGE_SIZE | default(100) }}Gi
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: galaxy-tool-deps
spec:
  storageClassName: standard
  accessModes:
    - ReadWriteMany
  volumeName: galaxy-tool-deps
  resources:
    requests:
      storage: {{ KIND_PV_STORAGE_SIZE | default(100) }}Gi
