# The externally visible URL for accessing this instance of IRIDA. This key is
# used by the e-mailer when sending out e-mail notifications (password resets,
# for example) and embeds this URL directly in the body of the e-mail.
server.base.url=http://0.0.0.0:8080

# Mail server configuration settings
mail.server.host=your-mail-server.local
mail.server.protocol=smtp
mail.server.email=admin@sanbi.ac.za
mail.server.username=IRIDA Platform

# Location of the IRIDA Platform updates file
# updates.file=/etc/irida/updates.md

# The title and link for an external help resource. Uncomment these
# and modify to have your own link rendered in the 'Help' menu. If these
# are left commented out, no link appears under the 'Help' menu.
# help.page.title=Your Help Page Title
# help.page.url=http://www.example.org/help

# The e-mail address for contacting an administrator for help. Uncomment
# this and modify to have your own e-mail address rendered in the 'Help' menu.
# If this is left commented out, no contact e-mail appears in the 'Help' menu.
# help.contact.email=you@example.org
