kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraMounts:
  - hostPath: {{ HOST_EXPORT_DIR }}/galaxy
    containerPath: {{ HOST_EXPORT_DIR }}/galaxy
  - hostPath: {{ HOST_EXPORT_DIR }}/tool_deps
    containerPath: {{ HOST_EXPORT_DIR }}/tool_deps
{% set kind_node_count = KIND_NODE_COUNT | default(1) | int -%}
{% for i in range(1, kind_node_count + 1) -%}
- role: worker
  extraMounts:
  - hostPath: {{ HOST_EXPORT_DIR }}/galaxy
    containerPath: {{ HOST_EXPORT_DIR }}/galaxy
  - hostPath: {{ HOST_EXPORT_DIR }}/tool_deps
    containerPath: {{ HOST_EXPORT_DIR }}/tool_deps
{% endfor %}
