<?xml version="1.0"?>
<job_metrics>
{% if galaxy_job_metrics.core %}
  <core />
{% endif %}
{% if galaxy_job_metrics.cpuinfo and galaxy_job_metrics.cpuinfo == "verbose" %}
  <cpuinfo verbose="true" />
{% elif galaxy_job_metrics.cpuinfo %}
  <cpuinfo />
{% endif %}
{% if galaxy_job_metrics.meminfo %}
  <meminfo />
{% endif %}
{% if galaxy_job_metrics.uname %}
  <uname />
{% endif %}
{% if galaxy_job_metrics.env %}
  <env />
{% endif %}
</job_metrics>
