uwsgi:
{{ galaxy_uwsgi | to_nice_yaml(indent=2) | indent(2, first=True) }}

  {% if GALAXY_PROXY_PREFIX %}
  mount: /galaxy=galaxy.webapps.galaxy.buildapp:uwsgi_app()
  manage-script-name: true
  {% else %}
  module: galaxy.webapps.galaxy.buildapp:uwsgi_app()
  manage-script-name: false
  {% endif %}


galaxy:
{{ galaxy | to_nice_yaml(indent=2) | indent(2, first=True) }}
